body{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}
/* .container1 h2{
    font-size: 20px;    
}
.container1{
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(81, 233, 182);
    height: 500px;
    width: 100%;
    text-align: center;
}
.focused{
    color: rgb(5, 73, 5);
    font-size: 45px;
} */
/* .my-container h1{

} */