body{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.containers{
    font-weight: 600;
}
.container1 h1{
    font-size: 50px;    
}
.container1 h3{
    font-size: 30px;    
}
.container1 h5{
    font-size: 30px;    
}
.heading-content{
    font-weight: 700;
}

.container1{
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(102, 201, 168);
    padding: 1em;
    height: auto;
    min-height: 650px;
    width: 100%;
    text-align: center;
}
.focused{
    color: rgb(5, 73, 5);
    font-size: 55px;
}
.container2{
    background-color: rgb(247, 247, 174);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    height: auto;
    min-height: 650px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
.content-area{
    width: 60%;
}
.divide{
    margin: 2% auto;
    width: 80%;
    color: black;
    height: 1px;
    background-color: black;
}
.my-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.my-col{
    position: relative;
    margin: 2% 2%;
    display: flex;
    align-items: center;
    /* background-color: white; */
    max-height: 400px;
    max-width: 400px;
    box-shadow: 8px 8px 4px 1px rgb(82, 48, 55);
    /* height: 90%;
    width: 90%; */
}
.my-image{
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    padding: 0;
    /* box-shadow: 8px 8px 4px 1px rgb(82, 48, 55); */
}
@media (max-width:750px){
    .my-row{
        flex-direction: column;
    }
}
.my-image:hover{
    box-shadow: none;
    transition: 0.4s;
    /* background-color: gray; */
    /* opacity: 0.5; */
    
}
.overlay{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    color: white;
    font-size: 2em;
}
.my-col:hover{
    box-shadow: none;
    transition-duration: 0.4s;
}
.overlay:hover{
    opacity: 0.9;
    /* box-shadow: none;*/
    transition-duration: 0.4s;
}
.my-list{
    list-style-type: none;
    font-size: 1.25em;
    text-align: left;
}
.my-text{
    color: rgb(0, 0, 0);
}
.my-text:hover{
    color: black;
    text-shadow: 1px 1px grey;
}
/* @media (my-image:hover){
    .overlay{
        color:
    }
} */
/* .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.brand-col{
    margin: 10px;
}
.icon{
    padding: 0.3em;
    background-color: black;
    color: blanchedalmond;
    border-radius: 5px;
}
